.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 10px;
        padding-left: 10px;
    }
    figure {
        height: 100%;
        width: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            border-radius: 50%;
            height: 70%;
        }
    }
    section {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        background-color: var(--secondary);
        position: absolute;
        right: 0;
        top: 100%;
        min-width: 150px;
        z-index: 12;

        @media (--mobile) {
            width: 100vw;

            > * {
                height: 70px !important;
            }
        }
        @media (--mobileSmall) {
            > * {
                justify-content: center !important;
            }
        }
        &:--close {
            display: none;
        }
        &:--open {
            display: block;
        }
        > * {
            padding: 0 10px;
            height: 40px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        button {
            background-color: var(--secondary);
            color: var(--text);
        }
    }
}