.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    header {
        display: flex;
        height: 100%;
        gap: 10px;

        > * {
            display: grid;
            place-items: center;
        }
        h1 {
            background-color: var(--highlight);
            color: var(--primary);
            width: var(--menuWidth);

            @media (--touch) {
                background-color: var(--secondary);
                color: var(--text);
            }
        }
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        margin-right: 10px;
        height: 100%;

        button {
            background-color: var(--secondary);
            width: auto;
            height: 20px;
        }
    }
}