body.light,
body {
    --primary: #eeeeee;
    --secondary: #ffffff;
    --text: #313131;
    --text2: #8D8592;
    --icon: #313131;
    --white: #eeeeee;
    --highlight: #515ba4;
}
body.dark {
    --primary: #202225;
    --secondary: #36393F;
    --text: #D6D6D6;
    --text2: #8D8592;
    --icon: #D6D6D6;
    --white: #eeeeee;
    --highlight: #515ba4;
}