@use "./reset";
@use "./themes";

:root {
    --menuWidth: 300px;
}
#app {
    display: grid;
    grid-template:
        "header header" 60px
        "aside main" calc(100vh - 60px)
        / min-content 1fr
    ;
    > header {
        grid-area: header;
    }
    > main {
        padding: 10px;
        overflow-y: auto;
        grid-area: main;
    }
    > aside {
        grid-area: aside;
    }
}
