@use "./breakpoints";
@use "./reset";
@use "./themes";

:root {
    --menuWidth: 300px;
}
#app {
    display: grid;
    grid-template:
        "header header" 60px
        "aside main" calc(100vh - 60px)
        / min-content 1fr
    ;

    @media (--touch) {
        grid-template:
            "aside header" 60px
            "aside main" calc(100vh - 60px)
            / min-content 1fr
        ;
    }
    > header {
        background-color: var(--secondary);
        grid-area: header;
    }
    > main {
        background-color: var(--primary);
        padding: 10px;
        overflow-y: auto;
        grid-area: main;

        > .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
    > aside {
        grid-area: aside;
    }
}
