.form {
    border-radius: 5px;
    position: relative;
    background-color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    input + span {
        font-size: 0.9rem;
        text-indent: 10px;
        color: var(--error);
    }
    &.auth {
        max-width: 350px;
        margin: 0 auto;

        fieldset {
            margin-bottom: 40px;

            input {
                width: 100%;
            }
        }
        button {
            width: 100%;
        }
    }
    &:not(.auth) {
        fieldset:last-child {
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
        }
    }
    fieldset {
        display: flex;
        flex-direction: column;
        width: max(600px, 50%);
        gap: 20px;

        legend {
            height: 50px;
        }
        label {
            color: var(--text);
        }
    }
    button {
        font-size: 1rem;
    }
}