.form {
    position: relative;
    background-color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    &.auth {
        max-width: 350px;
        margin: 0 auto;

        fieldset {
            margin-bottom: 40px;

            input {
                width: 100%;
            }
        }
        button {
            width: 100%;
        }
    }
    fieldset {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;

        legend {
            height: 50px;
        }
        input {
            border-radius: 3px;
            border: 2px solid var(--primary);
            background-color: var(--secondary);
            width: min(500px, 50%);

            &:focus {
                outline: 3px solid var(--highlight);
            }
        }
    }
    &:not(.auth) {
        button {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
}