%transition {
    transition: width 200ms ease;
}

@custom-selector :--close :not(:global(.open));
@custom-selector :--open :global(.open);

.aside {
    background-color: var(--highlight);
    display: flex;
    flex-direction: column;
    $spaceLeft: 25px;

    @media (--mobile) {
        background-color: transparent;

        &:--close {
            :global(+ main) {
                grid-column-start: 1 !important;
            }
        }
    }
    @media (--touch) {
        &:--close {
            h1 {
                display: none;
            }
        }
        &:--open {
            header {
                background-color: var(--highlight);

                button {
                    background-color: var(--highlight);
                    justify-content: flex-end;

                    svg path {
                        fill: var(--primary) !important;
                    }
                }
            }
            nav {
                background-color: var(--highlight);
                width: var(--menuWidth);
                justify-content: flex-start;

                ul li {
                    width: 100%;

                    a {
                        padding-left: $spaceLeft;
                    }
                }
            }
        }
    }
    header {
        z-index: 12;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: hidden;

        @media (--desktop) {
            height: 60px;
            justify-content: flex-start;
        }
        > * {
            flex-shrink: 0;
        }
        h1 {
            color: var(--primary);
            text-indent: $spaceLeft;
        }
        button {
            background-color: var(--highlight);
            width: 80px;
            height: 60px;

            @media (--desktop) {
                display: none;
            }
            @media (--mobile) {
                background-color: var(--secondary);

                svg path {
                    fill: var(--text) !important;
                }
            }
            @media (--tablet) {
                svg path {
                    fill: var(--primary) !important;
                }
            }
        }
    }
    nav {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
        width: var(--menuWidth);
        @extend %transition;

        @media (--tablet) {
            justify-content: center;
            width: 80px;
        }
        @media (--mobile) {
            width: 0;
            overflow-x: hidden;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;

            li {
                height: 40px;
                width: 100%;

                @media (--tablet) {
                    width: 32px;
                    overflow-x: hidden;
                }
                &.active {
                    a {
                        color: var(--text2) !important;

                        svg path {
                            fill: var(--text2) !important;
                        }
                    }
                }
                &:not(.active) {
                    a svg path {
                        fill: var(--white) !important;
                    }
                }
                a {
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    gap: 20px;
                    color: var(--primary);
                    transition: color 200ms linear;

                    @media (--desktop) {
                        padding-left: $spaceLeft;
                    }
                    &:hover {
                        color: var(--text2);

                        svg {
                            path {
                                fill: var(--text2) !important;
                                transition: fill 200ms linear;
                            }
                        }
                    }
                    svg {
                        flex-shrink: 0;
                        --size: 26px;
                    }
                }
            }
        }
    }
}